.DashBoardUpdateImage {
  background-image: linear-gradient(0deg, rgba(20, 20, 23, 0.6), rgba(20, 20, 23, 0.6)),
    url('https://d1m1s6un1a8qgj.cloudfront.net/media/article_feature_image/100M_of_BTRST_Braintrust_Talent_Home_Banner.png');
  background-position-x: initial, initial;
  background-position-y: initial, initial;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial, initial;
  background-origin: initial, initial;
  background-clip: initial, initial;
  border-radius: 8px;
}
